---
import Layout from "../layouts/Layout.astro";
import SliceZone from "../components/SliceZone.astro";

import prismic from "@prismicio/client";
import { client } from "../prismic";

const home = await client.getByUID("pages", "home");
---
<Layout title={prismic.asText(home.data.meta_title)} description={prismic.asText(home.data.meta_description)} image={home.data.meta_image.url}>
	<main>
		<SliceZone slices={home.data.body}/>
	</main>
</Layout>

<style>
</style>
