---
import { Icon } from 'astro-icon';
import * as prismic from "@prismicio/client";

const { navigation, isHeader, isFooter } = Astro.props;
---
<nav class:list={[{ footer: isFooter }, { header: isHeader }]}>
{navigation.data.navigation_items.map((link) =>
(
  <ul>
    <li>
      <a href={prismic.asLink(link.navigation_link)}>
        {prismic.isFilled.richText(link.navigation_icon) && <Icon name={prismic.asText(link.navigation_icon)} />}
        {prismic.asText(link.navigation_text)}
      </a>
    </li>
    </ul>
))}
</nav>

<style>
    nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  ul {
    list-style-type: none;
  }

  svg {
    width: 10%;
  }

  a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #1a1a1a;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .header a {
    font-weight: 500;
  }

  .footer a {
    color: #ffffff;
  }
</style>