---
import Content from "../slices/Content.astro";
import ContentRight from "../slices/ContentRight.astro";

const { slices } = Astro.props;
---
{slices.map((slice) => {
   switch (slice.slice_type) {
    case 'section':
      return (
        <Content slice={slice} />
      )
    case "content_right":
      return (
        <ContentRight slice={slice} />
      )
    default:
      return "<p>There is no component for this slice</p>"
  }
})}